@import url('https://fonts.googleapis.com/css?family=Alice|Marck+Script|Oswald:300,400,600&display=swap');

$fs-title: ('Oswald', sans-serif);
$fs-body: ('Alice', serif);
$fs-notes: ('Marck Script', cursive);

$fsize-input: 18px;
$fsize-primary: 16px;
$fsize-icons: 16px;
