.login-page {
  @include flex-page-center;
}

.login-status {
  padding-top: 5px;
  font-size: 10px;
  font-style: italic;
  &--success {
    color: $color-success;
  }
  &--error {
    color: $color-error;
  }
}

.input-group {
  &__title--login {
    min-width: 80px;
  }
}
