.login-page {
  @include flex-page-center;
}

.login-status {
  padding-top: 5px;
  font-size: 10px;
  font-style: italic;
  &--success {
    color: $color-success;
  }
  &--error {
    color: $color-error;
  }
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 500px;
  box-sizing: border-box;
  border-radius: $border-radius;
  background-color: #fff;
  overflow: hidden;
  @include for-phone {
    width: 100%;
    padding: 10px;
  }
}

.input-group {
  width: 100%;
  &__title--login {
    min-width: 80px;
  }

}

.input-btn--login {
  width: 100%;
}
