
$color-primary: #323232;
$color-secondary: #BBDEFB;

$color-assets: #81D4FA;
$color-background: #ECEFF1;
$color-background-navs: #323232;

$color-success: green;
$color-error: red;

$fcolor-nav: $color-assets;
// $fcolor-nav: #747474;
// $fcolor-nav: shade($color-secondary, 20%);

$bg-page: $color-background;
$bg-nav: #323232;
$bg-page-nav: $color-secondary;

/* Components colors */
$bg-sheet: #FFFFFF;
$bg-tabs: tint($color-background-navs, 10%);
$bg-input: $color-secondary;
