@import url('https://fonts.googleapis.com/css?family=Alice|Marck+Script|Oswald:300,400,600&display=swap');


$fs-title: ('Alice', serif);
$fs-body: ('Oswald', sans-serif);
$fs-notes: ('Marck Script', cursive);

$fsize-primary: 16px;
$fsize-secondary: 18px;
$fsize-h1: 35px;
$fsize-h2: 25px;
$fsize-h3: 20px;

$fsize-input: 18px;
$fsize-icons: 16px;
