
$default-indent: 10px;

/* Padding */
$input-padding: 7px;
$padding-tabs: 15px;
$padding-tabs-icon: 5px;
$padding-navs: 15px;
$padding-page-header: 5px;
$padding-gnav-link-side: 20px;

/* Sizes */
$height-nav: 60px;
$height-tabs: 35px;

/* Other */
$border-radius: 3px;
$cursor-hover: pointer;
