// $bg-page: #ECEFF1;
$bg-page: #E8EAF6;
$bg-nav: #323232;
$border-radius: 4px;
// $bg-input: #90A4AE;
// $bg-input: #64FFDA;
// $bg-input: #B39DDB;
$input-padding: 7px;

$color-secondary: #B39DDB;

/* Colors */

$bg-input: $color-secondary;

/* Sizes */
$height-nav: 60px;


/* Other */
$cursor-hover: pointer;
