@import './reset.css';
@import './variables.scss';

@import url('https://fonts.googleapis.com/css?family=Alice|Marck+Script|Oswald:300,400,600&display=swap');

.root-container {
  min-height: 100vh;
  background-color: $bg-page;
}

// font-family: 'Marck Script', cursive;
// font-family: 'Alice', serif;
// font-family: 'Oswald', sans-serif;

.stat-item__col {
  font-family: 'Oswald', sans-serif !important;
}

.beastia-card {
  &-header {
    font-family: 'Alice', serif !important;
    &__title {
      letter-spacing: 2px !important;
      text-transform: uppercase !important;
    }
  }
  &-body {
    &__loot {
      font-weight: 400;
      font-family: 'Oswald', sans-serif !important;
    }
  }
}
