$default-indent: 10px;

.global-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: $height-nav;
  color: #FFFFFF;
  background-color: #323232;
  @include for-phone {
    height: auto;
  }
}
.link {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
  padding: 0 20px;
  font-family: monospace;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  color: #747474;
  // color: shade(#B39DDB, 20%);
  background-color: #323232;
  &--pressed {
    color: #FFFFFF;
  }
  &--large {
    font-size: 30px;
  }
  &--phone-width {
    @include for-phone {
      justify-content: center;
      align-items: flex-start;
      width: 100%;
    }
  }
  &:hover {
    color: #FFFFFF;
    background-color: darken(#323232, 5%);
    cursor: $cursor-hover;
  }
  @include for-phone {
    height: $height-nav;
  }
  &__title {
    @include for-phone {
      display: none;
    }
  }
}


.primary-nav-section {
  display: inline-flex;
  @include for-phone {
    justify-content: space-between;
  }
  &--mobile{
    display: none;
    @include for-phone {
      display: inline-flex;
    }
  }
}

.secondary-nav-section {
  display: inline-flex;
  flex-grow: 1;
  @include for-phone {
    flex-grow: 0;
    flex-direction: column;
    align-items: flex-start;
  }
  &--hide-phone {
    @include for-phone {
      display: none;
    }
  }
}







.toggle-links {
  display: flex;
  flex-grow: 1;
  @include for-phone {
    flex-direction: column;
    width: 100%;
  }

  &-controller {

  }
}

.global-container--nav {
  display: flex;
  @include for-phone {
    flex-direction: column;

    height: auto;
  }
}
