.global-container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;

  @include for-desktop-medium {
    width:1140px;
  }
  @include for-tablet-large {
    width:900px;
  }
  @include for-tablet {
    width:720px;
  }
  @include for-phone {
    width:100%;
  }
  &--full-height {
    min-height: 100vh;
  }
}
