.input-group {
  display: flex;
  border: 1px solid shade($bg-input, 20%);
  border-radius: $border-radius;
  overflow: hidden;
  background-color: $bg-input;
  box-sizing: border-box;
  &__title {
    display: inline-flex;
    justify-content: center;
    padding: $input-padding;
    border: none;
    font-size: $fsize-input;
    font-weight: 600;
    color: shade($bg-input, 65%);
  }
  &__text-input {
    flex-grow: 1;
    padding: $input-padding;
    border: none;
    background-color: #ffffff;
  }
}

.input-btn {
  padding: $input-padding;
  font-size: $fsize-input;
  font-weight: 600;
  color: shade($bg-input, 65%);
  border: 1px solid shade($bg-input, 20%);
  border-radius: $border-radius;
  background-color: $bg-input;
  box-sizing: border-box;
  @include btn-hover($bg-input);
}
