.input-group {
  display: flex;

  width: 100%;
  border: 1px solid shade($bg-input, 20%);
  border-radius: $border-radius;
  overflow: hidden;
  background-color: $bg-input;
  box-sizing: border-box;
  @include for-phone {
    flex-grow: 1;
  }
  &--textarea {
    flex-direction: column;
  }
  &__title {
    display: inline-flex;
    justify-content: center;
    padding: $input-padding;
    border: none;
    font-size: $fsize-input;
    font-weight: 600;
    color: shade($bg-input, 65%);
    &--textarea {
      display: flex;
    }
  }
  &__text-input {
    flex-grow: 1;
    padding: $input-padding;
    font-size: $fsize-primary;
    border: none;
    background-color: #ffffff;
    &:disabled {
      background-color: tint($color-assets-light, 50%);
    }
  }
  &__textarea {
    min-height: 200px;
    resize: none;
    flex-grow: 1;
    padding: $input-padding;
    font-size: $fsize-primary;
    border: none;
    background-color: #ffffff;
    &:disabled {
      background-color: tint($color-assets-light, 50%);
    }
  }
  &__file-input {
    display: none;
  }
  &__btn-append {
    padding: $input-padding;
    color: shade($bg-input, 65%);
    background-color: $bg-input;
    border: none;
    border-left: 1px solid shade($bg-input, 20%);
    box-sizing: border-box;
    @include btn-hover-shade($bg-input);
    &--dark {
      color: shade($bg-input, 65%);
      background-color: $bg-input;
    }
  }

}

.input-btn {
  padding: $input-padding;
  font-size: $fsize-input;
  font-weight: 600;
  color: shade($bg-input, 65%);
  border: 1px solid shade($bg-input, 20%);
  border-radius: $border-radius;
  background-color: $bg-input;
  box-sizing: border-box;
  @include btn-hover-shade($bg-input);

  &--block {
    width: 100%;
  }
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
  width: 500px;
  box-sizing: border-box;
  border-radius: $border-radius;
  background-color: #fff;
  overflow: hidden;
  @include for-phone {
    width: 100%;
    padding: 10px;
  }
  &--clear {
    width: auto;
    padding: 0;
    background-color: inherit;
    @include for-phone {
      width: 100%;
    }
  }
  &--clear-block {
    width: 100%;
    padding: 0;
    background-color: inherit;
  }
  &--shadow {
    @include card-shadow;
  }
}
