.tabs-menu {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;
  &--dark {
    background-color: $bg-tabs;
  }
  &__tab {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    min-height: $height-tabs;
    padding: 0 $padding-tabs;
    font-size: $fsize-input;
    font-weight: 600;
    color: shade($bg-input, 65%);
    background-color: inherit;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    @include btn-hover-tint($bg-input);
    &--dark {
      color: tint($bg-input, 65%);
      @include btn-hover-shade($bg-input);
    }
    &--active {
      border-bottom: 2px solid $bg-input;
    }
    &--page {
       flex-grow: 0;
       @include for-tablet {
         flex-grow: 1;
       }
       @include for-phone {
         flex-grow: 1;
       }
    }
    &-group {
      display: flex;
      flex-direction: column;
      padding: $padding-tabs-icon $padding-tabs;
      &-title {
        @include for-phone {
          display: none;
        }
      }
      &-icon {
        @include for-phone {

        }
      }

    }
  }
}
