.tabs-menu {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  box-sizing: border-box;
  &__tab {
    display: flex;
    flex-grow: 1;
    flex-shrink: 1;
    justify-content: center;
    align-items: center;
    height: $height-tabs;
    padding: 0 $tabs-padding;
    font-size: $fsize-input;
    font-weight: 600;
    color: shade($bg-input, 65%);
    background-color: inherit;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: uppercase;
    box-sizing: border-box;
    @include btn-hover-tint($bg-input);
    &--active {
      border-bottom: 2px solid $bg-input;
    }
  }

}
