.text-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  border-bottom: 1px solid $color-text-hr;
  color: $fcolor-text;
  &__h1 {
    @include header(h1);
  }
  &__h2 {
    @include header(h2);
  }
  &__h3 {
    @include header(h3);
  }
  &__controls {
    display: flex;
  }
  &--borderless {
    border: none;
  }
  &--block {
    width: 100%;
  }
}

.text-body {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
}

.text-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 38px;
  height: 38px;
  font-size: $fsize-primary;
  border-radius: 50%;
  border: none;
  color: $color-primary;
  background-color: $color-assets;
  box-sizing: border-box;
  @include btn-hover-shade($color-assets);
  &--secondary {
    background-color: $color-secondary;
    @include btn-hover-shade($color-secondary);
  }
  &--white {
    background-color: #FFFFFF;
    @include btn-hover-shade(#FFFFFF);
  }
  &--transparent {
    background-color: inherit;
    width: auto;
    height: auto;
    &:hover {
      background-color: inherit;
    }
  }
}

.text-media {
  display: flex;
  justify-content: center;
  width: auto;
  max-height: 510px;
  &__img {
    display: inline-flex;
    width: auto;
    height: auto;
    object-fit: contain;
  }
}
