/* Functions used in variables */
@import './abstracts/functions.scss';
@import './abstracts/variables.scss';
@import './abstracts/colors.scss';
@import './abstracts/mixins.scss';

@import './base/reset.scss';
@import './base/fonts.scss';

@import './components/global-nav.scss';
@import './components/global-container.scss';
@import './components/spacing.scss';
@import './components/input.scss';
@import './components/tabs.scss';
@import './components/sheet.scss';

@import './pages/login-page.scss';
@import './pages/user-page.scss';
@import './pages/bestiary/bestia-card.scss';

/* This container for root div in index.html */
.root-container {
  min-height: 100vh;
}
/* This container for root div in Application.vue */
.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: $bg-page;
}
